################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/setconfig/bin/Debug
/setconfig/obj/Debug
/.vs/setconfig/v14/.suo
